@page
@model ProjectShop.ClothesModel
@{
    ViewData["Title"] = "Clothes";
}

<h1>Clothes</h1>
<div class="row">
    <div class="col-md-3">
        <h2>Coats</h2>
        <ul>
            <li><a href="ModelsOfClothes/ModelsOfCoats">Coats</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Blouses</h2>
        <ul>
            <li><a href="ModelsOfClothes/ModelsOfBlouses">Blouses</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Dresses</h2>
        <ul>
            <li><a href="ModelsOfClothes/ModelsOfDress">Dresses</a></li>
        </ul>
    </div>
</div>

