@page
@model ProjectShop.ClothesModel
@{
    ViewData["Title"] = "Shoes";
}

<h1>Shoes</h1>
<div class="row">
    <div class="col-md-3">
        <h2>Boots</h2>
        <ul>
            <li><a href="ModelsOfShoes/ModelsOfBoots">Boots</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Blouses</h2>
        <ul>
            <li><a href="ModelsOfClothes/ModelsOfBlouses">Blouses</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Dresses</h2>
        <ul>
            <li><a href="ModelsOfClothes/ModelsOfDress">Dresses</a></li>
        </ul>
    </div>
</div>