@page
@model ProjectShop.Pages.Colors.BagsColor.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ColorsOfBags</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ColorsOfBags.ColorOfBag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ColorsOfBags.ColorOfBag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ColorsOfBags.Bag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ColorsOfBags.Bag.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ColorsOfBags.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
