@page
@model ProjectShop.Pages.Colors.GlovesColors.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ColorsOfGloves</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ColorsOfGloves.Id" />
            <div class="form-group">
                <label asp-for="ColorsOfGloves.ColorOfGloves" class="control-label"></label>
                <input asp-for="ColorsOfGloves.ColorOfGloves" class="form-control" />
                <span asp-validation-for="ColorsOfGloves.ColorOfGloves" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColorsOfGloves.GlovesId" class="control-label"></label>
                <select asp-for="ColorsOfGloves.GlovesId" class="form-control" asp-items="ViewBag.GlovesId"></select>
                <span asp-validation-for="ColorsOfGloves.GlovesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
